<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org">
  <xacro:macro name="my_end_effector" params="prefix connected_to">
    
    <!-- Link: End Effector Base -->
    <link name="ee_link">
      <visual>
        <geometry>
          <mesh filename="package://igus_rebel_description/meshes/my_ee.stl"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://igus_rebel_description/meshes/my_ee.stl"/>
        </geometry>
      </collision>
      <inertial>
        <!-- Add inertia properties here -->
      </inertial>
    </link>

    <!-- Joint: Connect to Robot Tool0 -->
    <joint name="ee_fixed_joint" type="fixed">
      <parent link="link6"/>
      <child link="ee_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Adjust offset here -->
    </joint>
  </xacro:macro>
</robot>